body {
    background: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
}

.btn {
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    margin: 25px;
}

.add-btn {
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    width: 45px;
    height: 45px;
    color: white;
    text-align: center;
}

.app-title {
    text-align: center;
    color: #ff3333;
    font-size: 75px;
}

.container {
    border: 10px solid #e65c00;
    border-radius: 30px;
}
